<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>password</label>
        <input type="password" name="password">
        <p>olvidaste tu contraseña? <a href="/users/reset-password">reiniciar contraseña</a></p>
        <input type="submit">
    </form>
    <p>¿aun no tienes cuenta? <a href="/users/register">registrate!!</a></p>
    <p>tienes una cuenta de GitHub? <a href="/github/login">Logeate utilizando github</a></p>
</div>

<script src="/js/login.js"></script>