<div>
    <h1>Enviar email para resetear contraseña</h1>
    <form id="sendEmailToResetPasswordForm">
        <label>Email</label>
        <input name="email" />
        <input type="submit" />
    </form>
    <p>¿Ya tienes una cuenta? <a href="/users/login">Ingrese aqui!</a></p>
    <p>¿No tienes una cuenta? <a href="/users/register">Registrate aqui!</a></p>
</div>

<script src="/js/send-email-to-reset-password.js"></script>